.about {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background: var(--clr-darker);
}

.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: var(--clr-green);
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__description {
  max-width: 30em;
  padding: 0.5em;
  text-align: justify;
}

.about__ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

.about__ul {
  padding: 0.5em;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: "\1F44D";
  flex: 1;
}

.about__list {
  padding: 0.25em;
}

.about__img img {
  max-width: 17em;
  border-radius: 10px;
  margin: 1em;
  filter: drop-shadow(1em 1em 0.5em var(--clr-green));
}

/* md */
@media (min-width: 768px) {
  .about__img img {
    max-width: 35em;
  }
}

/* lg */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
  }

  .about__img img {
    max-width: 20em;
  }
}
