.title {
  font-size: var(--font-2xl);
  color: var(--clr-green);
  padding: 0.5em;
}

.subtitle {
  font-size: var(--font-lg);
  padding: 0.25em;
  margin-top: 1em;
  color: var(--clr-green);
}

.hero__subtitle,
.hero__title {
  text-align: center;
  padding: 0.25em;
}

.hero__subtitle {
  font-size: var(--font-xl);
  font-weight: 700;
}

.hero__title {
  font-size: var(--font-2xl);
  font-weight: 900;
  background: var(--clr-gradient);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__subtitle {
  background: var(--clr-gradient);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

/* md */
@media (min-width: 768px) {
  .title {
    font-size: var(--font-3xl);
  }

  .subtitle {
    font-size: var(--font-xl);
  }
}
