.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background: var(--clr-green);
}

.hero__img img {
  border-radius: 50%;
  max-width: 15em;
  margin: 1em;
  filter: drop-shadow(0 0 1em var(--clr-green));
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__subtitle,
.hero__title {
  text-align: center;
  padding: 0.25em;
}

.hero__subtitle {
  font-size: var(--font-xl);
  font-weight: 700;
}

.hero__title {
  font-size: var(--font-2xl);
  font-weight: 900;
  background: var(--clr-gradient);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__link {
  padding: 0.5em;
}

.hero__link img {
  max-width: 2em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero__link img:hover {
  border-radius: 10px;
  filter: drop-shadow(0 0 0.5em var(--clr-aqua));
}

/* md */
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }

  .hero__img img {
    max-width: 20em;
  }

  .hero__subtitle {
    font-size: var(--font-3xl);
  }

  .hero__title {
    font-size: var(--font-5xl);
  }

  .hero__link img {
    max-width: 3.5em;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__subtitle {
    font-size: var(--font-4xl);
  }

  .hero__title {
    font-size: var(--font-6xl);
  }
}
