:root {
  --clr-dark: #393e46;
  --clr-light: #f1f1e9;
  --clr-blue: #2772db;
  --clr-green: #88ee86;
  --clr-gradient: linear-gradient(
    90deg,
    #2772db,
    #009df2,
    #00bfe1,
    #00dab5,
    #88ee86,
    #f9f871
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "General Sans", sans-serif;
  background: var(--clr-dark);
  color: var(--clr-light);
}
